<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ro.basilescu.bogdan.templateapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SwipeMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Uncomment if you want to use the old MainActivity and change the main launcher activity -->
        <!--<activity-->
            <!--android:name=".MainActivity"-->
            <!--android:label="@string/title_activity_swipe_main"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--</activity>-->
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".DrawerMainActivity"
            android:label="@string/title_activity_drawer_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <provider
            android:name=".database.TemplateContentProvider"
            android:authorities="ro.basilescu.bogdan.templateapplication.database"
            android:exported="false"/>
    </application>

</manifest>